{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant" pour la liste des burgers.{% endblock %}

{% block content %}
Listes des big burgers
{% for burger in burgers %}
   <div class='burger'>
        <h2>{{ burger.name }}</h2>
        <div class='row'>
        <p>Price: {{ burger.price }} €</p>
        <p>Pain: {{ burger.pain.name }}</p>
        </div>

         <div class='row'>
        <h3>Oignons</h3>
        <ul>
            {% for oignon in burger.oignon %}
                <li>{{ oignon.name }}</li>
            {% endfor %}
        </ul>

        <h3>Sauces</h3>
        <ul>
            {% for sauce in burger.sauce %}
                <li>{{ sauce.name }}</li>
            {% endfor %}
        </ul>
         </div>
        {% if burger.image %}
            <h3>Image</h3>
            <img src="{{ burger.image.lien }}" alt="{{ burger.name }}">
        {% endif %}

        <h3>Commentaires</h3>
        <ul>
            {% for commentaire in burger.commentaire %}
                <li>{{ commentaire.text }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
